/*SKILLS*/
.skills {
  padding: 120px 10%;
}

.skills-container {
  max-width: 1200px;

  margin: 0 auto;
}

.skills-grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 2rem;

  margin-top: 4rem;
}

.skill-card {
  background: #1e293b;

  padding: 1.5rem;

  border-radius: 20px;

  display: flex;

  flex-direction: column;

  align-items: center;

  gap: 1rem;

  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-10px);

  background: #334155;

  border-color: #38bdf8;
}

.skill-icon {
  font-size: 4rem;

  color: #38bdf8;
}

.skill-card p {
  color: white;

  font-weight: 500;

  font-size: 1rem;
}